
@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center">Proizvodi</h2>
<hr />
<br />

<button type="button" class="btn btn-success btn-lg pull-right" id="btnAddProduct"><i class="glyphicon glyphicon-plus"></i> &nbsp; Dodaj proizvod</button>

@section scripts {
    @Scripts.Render("~/Scripts/My scripts/AdminProducts.js")
}