@{
    ViewBag.Title = "Početna strana";
}

<br />
<br />
<br />
@if (User.IsInRole("admin"))
{
    <button type="button" class="btn btn-success btn-lg pull-right" id="btnAddProduct"><i class="glyphicon glyphicon-plus"></i> &nbsp; Dodaj proizvod</button>
}


@section scripts {
    @Scripts.Render("~/Scripts/My scripts/AdminProducts.js")
}