@{
    ViewBag.Title = "Početna strana";
}

<br />
<br />
<br />
@if (User.IsInRole("Admin"))
{
    <button type="button" class="btn btn-success btn-lg" id="btnAddProduct"><i class="fas fa-plus"></i> &nbsp; Dodaj proizvod</button>
}


@section scripts {
    @Scripts.Render("~/Scripts/My scripts/AdminProducts.js")
}